@{
    ViewData["Title"] = "Facebook";
}

<div class="container text-center">
    <h1 class="display-4">Facebook direct link</h1>
    <div class="row justify-content-center">
        <div class="col-auto">
            <a href="https://www.facebook.com/ " target="_blank" class="btn btn-primary">Go to Facebook</a>
        </div>
    </div>
</div>