@{
    ViewData["Title"] = "Social Media";
}
<div class="container text-center">
    <h1 class="display-4">Social Media Links</h1>
    <div class="row justify-content-center">
        <div class="col-auto">
            <a href="@Url.Action("Facebook", "SocialMedia")" class="btn btn-primary">Facebook</a>
        </div>
        <div class="col-auto">
            <a href="@Url.Action("Twitter", "SocialMedia")" class="btn btn-info">Twitter</a>
        </div>
        <div class="col-auto">
            <a href="@Url.Action("Instagram", "SocialMedia")" class="btn btn-danger">Instagram</a>
        </div>
    </div>
</div>


