@{
    ViewData["Title"] = "Twitter";
}

<div class="container text-center">
    <h1 class="display-4">Twiter direct link</h1>
    <div class="row justify-content-center">
        <div class="col-auto">
            <a href="https://twitter.com/?lang=pl" target="_blank" class="btn btn-primary">Go to Twitter</a>
        </div>
    </div>
</div>
