@{
    ViewData["Title"] = "GitHub";
}

<div class="text-center">
    <h1 class="display-4">Hi! I'm junior ASP.NET C# developer.</h1>
    <p>
        <a href="https://github.com/anton-ovod" target="_blank">Here is my github profile</a>
    </p>
</div>